h1 {
    justify-content: center;
    text-align: center;
}

p {
    font-size: 24px;
}

p a {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

img {
    display: block;
    margin: auto;
}