body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    flex: auto;
    text-align: center;
}

.main-title {
    border-bottom: 2px solid #689982;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.1em;
}

.sub-p {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 2em;
    line-height: 1.5em;
}
.assignments-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #689982;
    border-radius: 1em;
    padding: 1.2em;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    margin: 2em auto;
}

.assignments-box h1 {
    border-bottom: 2px solid #689982;
    display: inline-block;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
    color: black;
}

.assignment-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2em;
    padding: 2em;
    justify-content: center;
}

.assignment-buttons button {
    font-size: clamp(0.8em, 2vw, 1.2em);
    justify-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 1em;
    cursor: pointer;
    background-color: #689982;
    color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}

.assignment-buttons button:hover {
    background-color:#3D594C;
}

#final-project-content.hidden {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease, max-height 1.5s ease, visibility 1.5s;
}


#final-project-content {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transition: opacity 2s ease, max-height 2s ease, visibility 2s;
    border: #68998260 solid 2px;
    border-radius: 1em;
    margin-top: 2em;
    margin-left: 14em;
    margin-right: 14em;
    padding: 20px;
    text-align: left;
}

#final-project-content h2{
    text-align: center;
}